.list {
    display: flex;
    flex-direction: column;
}

.list__settings {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.list__settings svg {
    font-size: 18px;
}

.list__settings-right {
    display: flex;
    align-items: center;
}

.list__settings-right p {
    font-size: 13px;
}

.type {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.type > .type__options {
    display: flex;
    align-items: center;
    min-width: 230px;
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 3px solid #fff;
}

.type > .type__options svg {
    font-size: 20px;
    color: gray;
    margin-right: 10px;
}

.type > .type__options {
    font-size: 15px;
}

.type > .type__options {
    background-color: whitesmoke;
}

.type__options--active {
    border-bottom: 2px solid #da3c31 !important;
}

.type__options--active p,
.type__options--active svg
{
    color: #da3c31;
    font-weight: 500;
}